@import "tailwindcss";

@theme {
  --animate-slideInLeft: slideInLeft 0.2s ease-out;
  --animate-slideIn: slideIn 0.2s ease-out;
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideIn {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
