{{ define "main" }}
<div class="container content-narrow" style="text-align:center; padding: 4rem 0;">
  <h1>404</h1>
  <p>That room doesn't exist. <a href="/">Return to the entrance.</a></p>
  <p>Or find your way by section:</p>
  <ul style="list-style:none; padding:0;">
    <li><a href="/play/">Play</a></li>
    <li><a href="/world/">World</a></li>
    <li><a href="/help/">Help</a></li>
    <li><a href="/database/">Database</a></li>
    <li><a href="/map/">Map</a></li>
    <li><a href="/news/">Dispatch</a></li>
    <li><a href="/about/">About</a></li>
  </ul>
</div>
{{ end }}
